.section {
  background-color: red;

  /* height: calc(100vh - 260px); */
  margin-top: 260px;
  /* overflow: hidden; */
  /* height: 100vh; */
  /* margin: 260px auto 0 auto; */

  /* height: calc(100vh - 260px);
  overflow-y: scroll; */

  outline: 1px solid red;
}
