.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  /* display: inline-block; */
  width: 100%;
  /* height: 174px; */
  margin-right: auto;
  margin-left: auto;
  float: none;
  /* text-align: center; */
  padding: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* 
  outline: 1px solid blue; */

  /* background: black; */
}

.nav_link {
  position: relative;
  display: inline-block;
  /* height: 100%; */
  /* padding: 78px 41px 41px; */
  float: none;
  clear: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: "Indie Flower", cursive;
  color: var(--font-primary);
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.nav_logo {
  /* padding: 50px 50px; */
  /* height: 100%;
  width: 120px; */
  /* border: 1px solid var(--font-primary);
  border-radius: 50%; */
  margin: 0 30px;
  position: relative;
  transition: opacity 500ms ease 0s;
  opacity: 1;
}

.nav_logo > img {
  height: 100%;
  width: 100%;
}

/* .nav_logo > img {
  filter: brightness(0) invert(1);
}

.nav_logo > img path {
  stroke: red;
}

.nav_logo > img line {
  stroke: red;
} */

/* 
@media (min-width: 768px) {
  .nav_logo {
    padding: 78px 30px 51px;
    height: 100%;
    width: 120px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 30px;
    position: relative;
    transition: opacity 500ms ease 0s;
    opacity: 1;
  }
} */

/* mobile */
/* @media (max-width: 768px) {
  .nav {
    position: relative;
    float: right;
  }

  .nav_link {
    font-size: 14px;
  }
} */
