.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  /* display: inline-block; */
  width: 100%;
  float: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid blue; */
  height: 220px;
}

.nav_link {
  position: relative;
  display: inline-block;
  float: none;
  clear: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: "Indie Flower", cursive;
  color: var(--font-gray);
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
}

.nav_link_gold {
  position: relative;
  display: inline-block;
  float: none;
  clear: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: "Indie Flower", cursive;
  color: var(--font-gold);
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;

  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav_link_gold:hover,
.nav_link_gold:focus {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .nav_link_gold {
    font-size: 25px;
  }
}

.nav_logo {
  margin: 0 30px;
  position: relative;
  transition: opacity 500ms ease 0s;
  opacity: 1;
}

.nav_logo > img {
  height: 100%;
  width: 100%;
}
